@media only screen and (min-width: 1158px) {
    .container {
            width: 1158px;
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .adress-link{
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .address-list {
        flex-direction:row;
        gap: 40px;
    }

    .navig {
        width: auto;
    }

    .advantage-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .advantage-item {
        width: 264px;
    }

     
    .team-list {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 24px;
    }
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .footer>.container {
        display: flex;
        align-items: baseline
    }
    



}