@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .section {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .nav-list,
    .address-list{
        display: flex;
    }

    .address-list{
        flex-direction: column;
        gap: 12px;
    }

    .address-link{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
    }

    .logo-link {
        margin-right: 76px;
    }

    .menu-nav-btn {
            display: none;
            
    }

    .advantage-list {

            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
    }

         .advantage-item {
            max-width: 356px;
    }

    .advantage-subtitle {
        text-align: start;
    }
    
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        margin: 0;
        justify-content: center;
    }




}


    







